@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

.contentbox{
    padding-top: 1px;
    padding-bottom: 0px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Dosis', sans-serif;
    width: auto;
    /*background-image: url("../new_20op_3blur.jpg");*/
    background-color: rgb(223, 222, 219);
    background-position: top;
    background-size: 100%;
  }
 
  .banner{
    width: 100%;
    height: 200px;
    color:#000000;
    font:inherit;
    overflow: visible;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: red; 
    background-image: linear-gradient(to bottom right,  #FFA500,#ffd700);
    border-radius:10px; 
  }

  .bigbanner{
    width: 100%;
    height: auto;
    color:#000000;
    font:inherit;
    overflow: visible;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: red; 
    background-image: linear-gradient(to bottom right,  #FFA500,#ffd700);
    border-radius:10px; 
  }
.banner1{
  margin-left: 15%;
}
.banner2{
  margin:25%;
  margin-top:0;
  margin-bottom:0;
}
  .banner-block{
    text-align: center;
    font-weight: 400; 
    font-family: inherit;
    font-size: 25px;
  }
  
  

  
  
  h1{
    text-align: left;
  }
  
  .doclinks {
    margin-left :12%;
    text-align: left;
    font-family: inherit;
    font-size:20px;
    font-weight: 300;
  }
  
  
  .imagetextblock{
  display: table;
  font-size: 20px;
  text-align: left;
  margin:6px auto 6px;
  width:80%;
  font-weight: 500;
  font-family: inherit;
  color: #691818;
  padding: 20px;
  display: flex;
  height: auto;
  }
  .textblock1{
    margin-top:20%;
    text-align:center;
    width:30%;
    font-family:inherit;
  }
  .textblock {
    vertical-align:middle;
    display:table-cell;
    text-align:center;
    width:30%;
    font-family:inherit;
  }
  .imageblock{
    vertical-align:middle;
    display:table-cell;
   }
 
  .text-block{
    color: #000000;
    font-size: 20px;
    text-align: left;
    width:70%;
    font-weight: 600;
    font-family: inherit;
    border-radius: 10px;
    box-align: left;
    position: static;
  box-shadow: 1px 1px 1px grey;
  height: auto;
  float: justify;
  /*margin: 5px auto; */
  margin-left: 12%;
  transition: 0.5s;
  font: inherit;
  font-size: 20px;
  font-family: inherit;
}

  .text-block:hover{
    background: rgb(207, 238, 136);
    box-shadow: 2px 2px 2px #000;
    transform: scale(1.03);
  }
  
  /*link colurs */
  .link{
  font-weight: 200;
  color: blue;
  font-family: inherit;
  text-decoration: underline;
  }
  .lin{
    font-family: inherit;
    text-decoration: underline;
  color: blue;
  }
  a{
    color: blue;
    font-family: inherit;
    text-decoration: underline;
    }
a:visited {
  color: blue;
}

body 
{
  font-family: inherit;
  color: #1a1b1f;
  font-size: 26px;
  line-height: 28px;
  font-weight: 400;
 
}




.Table
{
  width:75%;
  margin-left: 13%;
  margin-right: 12%;
}
.table-heading{
color: #fd8905;
  font-size: 50px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  text-align: center;
  font-family: inherit;
}

/* Updated pimg classes
*/
.pimg1 {
    background-image: url("../picc3.jpg");
    min-height: 800px;
  }
.pimg2{
    background-image: url("../picc2.jpg");
    min-height: 300px;
 }
.pimg3{
    background-image: url("../picc3.jpg");
    min-height: 300px;
}
.pimg1, .pimg2, .pimg3  {
    padding-top: 80px;
    position: relative;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overscroll-behavior-x: contain;
  }
/* Modifying ptext
*/
.ptext{
    position: absolute;
    top: 50%;
    left:0;
    width:100%;
    text-align:center;
    color: #668cff;
    font-size: 40px;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-family:inherit;
  }
  .ptext span.border{
    background-color: #111;
    color: white;
    padding: 18px;
    font-size:25px;
    border-color: black;
    border-radius: 1px;
    font-family: inherit;
  }
  /*modify bigbox*/

.bigbox1 {
    width: 80%;
    padding: 0px;
    color: #000000;
    font-size: 20px;
    text-align: left;
    margin:5px auto 5px;
    font-weight: 500;
    display: flex;
    font-family: inherit;
    height: auto;
}
  
.box1{
    width:33.33333%;
    height: auto;
    float: left;
    margin: 20px 10px;
    transition: 0.5s;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px grey;
    color: #000;
    display: flexbox;
}

.box2{
  width:33.33333%;
  height: auto;
  float: left;
  margin: 20px 10px;
  transition: 0.8s;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px grey;
  display: flexbox;
  color:black;
}

.box3{
    width:50%;
    height: auto;
    float: left;
    margin: 20px 10px;
    transition: 0.8s;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px grey;
    display: flexbox;
    text-align:center;
 }
.box2:hover{
  box-shadow: 2px 2px 2px #000;
  transform: scale(1.03);
  background: rgb(207, 238, 136);
 }
  
.box2 h2{
  text-decoration: underline;
  text-align: center;
  color: #691818;
  letter-spacing:3px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  }
  .box2 p{
    text-align: center;
    color: #000;
    letter-spacing:3px;
    font-size:15px;
    font-weight:300;
    font-family: inherit;
  }
.box3:hover{
    box-shadow: 2px 2px 2px #000;
    transform: scale(1.03);
    background: rgb(207, 238, 136);
  }
  
.box3 h3{
  text-decoration: underline;
  font-family: inherit;
  text-align: center;
  color: #691818;
  letter-spacing:3px;
  line-height: 30px;
  font-weight: 400;
  }
  .box3 p{
    text-align: center;
    color: #000;
    letter-spacing:3px;
    font-size:15px;
    font-weight:300;
    font-family: inherit;
  }
.softwarebox {
    width:90%;
    height: auto;
    float: left;
    margin: 20px 10px;
    transition: 0.8s;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px grey;
    display: flexbox;
    text-align:center;
}
.softwarebox:hover{
    box-shadow: 2px 2px 2px #000;
    transform: scale(1.03);
    background: rgb(207, 238, 136);
}

.softwarebox h3{
  text-decoration: underline;
  font-family: inherit;
  text-align: center;
  color: #691818;
  letter-spacing:3px;
  line-height: 30px;
  font-weight: 400;
}
.softwarebox p{
    text-align: center;
    color: #000;
    letter-spacing:3px;
    font-size:15px;
    font-weight:300;
    font-family: inherit;
}
  .box1 h3{
    text-decoration: underline;
    text-align: center;
    color: #691818;
    letter-spacing:3px;
    line-height: 30px;
    font-weight: 400;
  }
  .box1:hover h3{
    text-decoration: underline;
    text-align: center;
    color: yellow;
    letter-spacing:3px;
    line-height: 30px;
    font-weight: 400;
  }
  .box1 p{
      text-align: center;
      color: #000;
      letter-spacing:3px;
      font-size:15px;
      font-weight:300;
      font-family: inherit;
  }
  
  
  .box1:hover p{
    text-align: center;
    color:#fff;
    letter-spacing:3px;
    font-size:15px;
    font-weight:300;
    font-family: inherit;
  }

.box1:hover{
    transform: scale(1.1);
    background:url("../sscp.jpg");
    flex: 0 0 39%;
    -webkit-box-flex: 0;
  -ms-flex: 0 0 39%;
  flex: 0 0 39%;
  font-weight: 500;
}
  /* heading */
  .heading{
    color: #691818;
    font-family: inherit;
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    /*margin:10px auto 6px; */
    padding-top: 20px;
    width:70%;
    margin-left:10%;
  }
  .heading h1 {
    color: #691818;
    font-family: inherit;
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    padding-top: 20px;
    width:80%;
    text-align: left;
}
 
.sub-heading{
    color: #691818;
    font-size: 25px;
    text-align: left;
    /*margin:6px auto 6px;*/
    padding-top: 10px;
    width:65%;
    font-weight: 700;
    font-family: inherit;
    margin-left:12%;
}
ul ,li{
  text-align: left;
  margin-left: 10%;
  font-size:20px;
  font-weight: 500;
  font-family: inherit;
}
.colwidth10-home{
	background-image: url("../B1_50_col.png");
  
}
.colwidth10-software {
  background-image: url("../picc2.jpg");
}
.colwidth10-processor{
  background-image: url("../B1_40_BW_P.png");
}
.colwidth10-datasheet{
  background-image: url("../new_30op_5blur.jpg");
}
.colwidth10-howtouse{
  background-image: url("../new_30op_5blur.jpg");
}

.colwidth10-home, .colwidth10-processor, .colwidth10-software, .colwidth10-datasheet, .colwidth10-howtouse {
	width:10%;
  background-position: top;
  background-size: 100%;
  height: 100%;
  
}

.colwidth80 {
	width:80%;
}

.colwidth20 {
	width:20%;
}
.colwidth60 {
	width:60%;
}

.box4{
  width: 70%;
  height: auto;
  box-align: none;
  border: solid 1px #000;
  border-radius: 15px;
  margin-top:20px;
  margin-left:15%;  

}

.box42{
  width: 80%;
  height: auto;
  margin-left: 12%;

}

.box4 h3{
  text-decoration: underline;
  text-align: center;
  color: #691818;
  letter-spacing:3px;
  line-height: 30px;
  font-weight: 400;
}
.box4:hover h3{
  text-decoration: underline;
  text-align: center;
  color: yellow;
  letter-spacing:3px;
  line-height: 30px;
  font-weight: 400;
}
.box4 p{
    text-align: center;
    color: #000;
    letter-spacing:3px;
    font-size:15px;
    font-weight:300;
    font-family: inherit;
}


.box4:hover p{
  text-align: center;
  color:#fff;
  letter-spacing:3px;
  font-size:15px;
  font-weight:300;
  font-family: inherit;
}

.box4:hover{
  transform: scale(1.1);
  background:url("../sscp.jpg");
  flex: 0 0 39%;
  -webkit-box-flex: 0;
-ms-flex: 0 0 39%;
flex: 0 0 39%;
font-weight: 500;
}

.spon ,.spon a{
  font-family: inherit;
  font-size: 25px;
  color: #1a1b1f;
  letter-spacing: 3px;
  text-align: center;
  text-decoration-line: underline;
  font-stretch: narrower;
}






.bigbox12 {
  width: 100%;
  padding: 0px;
  color: #000000;
  font-size: 20px;
  text-align: left;
  margin:5px auto 5px;
  font-weight: 500;
  display: flex;
  font-family: inherit;
  height: auto;
}

.box12{
  width:33.33%;
  height: auto;
  float: left;
  margin: 20px 10px;
  transition: 0.5s;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
 
  box-shadow: 1px 1px 1px grey;
  color: #000;
  display: flexbox;
}

.box12 h3{
  text-decoration: underline;
  text-align: center;
  color: #691818;
  letter-spacing:3px;
  line-height: 30px;
  font-weight: 400;
}
.box12:hover h3{
  text-decoration: underline;
  text-align: center;
  color: 691818;
  letter-spacing:3px;
  line-height: 30px;
  font-weight: 400;
}
.box12 p{
    text-align: center;
    color: #000;
    letter-spacing:3px;
    font-size:15px;
    font-weight:300;
    font-family: inherit;
}


.box12:hover p{
  text-align: center;
  color:#fff;
  letter-spacing:3px;
  font-size:15px;
  font-weight:300;
  font-family: inherit;
}

.box12:hover{
  transform: scale(1.03);
  background:url("../index.png");
  flex: 0 0 39%;
  -webkit-box-flex: 0;
-ms-flex: 0 0 39%;
flex: 0 0 39%;
font-weight: 500;
}

.box41{
  box-shadow: solid 1px  #1a1b1f;
  height: auto;
  width: 70%;
border-radius: 15px;
margin-left: 20%;
font-size:15px;
font-weight:300;
font-family: inherit;
}

.box41:hover{

  height: auto;
  width: 80%;
border-radius: 15px;
font-size:15px;
font-weight:300;
font-family: inherit;
color: #111;
box-shadow: 2px 2px 2px #000;
transform: scale(1.03);
background: rgb(207, 238, 136);
margin-left:10%; 
-webkit-box-flex: 0;
-ms-flex: 0 0 39%;
flex: 0 0 39%;
}




.bbox {
  width: 100%;
  padding: 0px;
  color: #000000;
  font-size: 20px;
  text-align: left;
  margin:5px auto 5px;
  font-weight: 500;
  display: flex;
  font-family: 'Dosis', sans-serif;
  height: auto;
}

.sbox{

  width:48.33333%;
  height: auto;
  float: left;
 margin-left: 10%; 
 
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
   color: #000;
  display: flexbox;
}


.sbox a{
  font-family: 'Dosis', sans-serif;
}



.carousel-indicators li {
  
  background-color:  #FFA500;
  display: inline;
  cursor: pointer;
  margin: 10px;
  height: 05px;
  opacity: 20;
  
}

.carousel-indicators .active {
  width: 48px;
  height: 10px;
  margin: 10px;
  background-color: #ffd700;
}



.mob{
  width:90%;
  height: 50%; 
}
