h1{
    text-align: center;
    text-decoration: underline;
  font-weight: 500;
    font-size: 40px;
    color:brown;
    font-family: 'Dosis', sans-serif;
}
.line{
    border: 1px solid gray;
    width: 95%;
    margin-left:25px;
    margin-right: auto; 
}

.line1{
    border: 0.3px solid rgb(221, 208, 208);
    width: 95%;
    margin-left:25px;
    margin-right: auto; 
}

h3{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: brown;
    font-family: 'Dosis', sans-serif;
}

ul ,li{
    display: inline;
}

.text{
    font-family: 'Dosis', sans-serif;
   text-align: center;
   font-size: 20px;
   
}
a{
    color: blue;
}

.carousel-indicators li {
  
    background-color:  #FFA500;
    display: inline;
    cursor: pointer;
    margin: 10px;
    height: 05px;
    opacity: 20;
    
  }
  
  .carousel-indicators .active {
    width: 48px;
    height: 10px;
    margin: 10px;
    background-color: #ffd700;
  }

  .mob{
      width:90%;
      height: 50%; 
  }

  .team1{
      display: inline-block;
      margin-left: 5%;
  }
  .team2{
    display: inline-block;
    margin-left: 10%; 
  }

 a{
     filter: grayscale(30%);
     transition: 0.4s;
 }
 a:hover{
     transition: 0.4s;
     filter: grayscale(0%);
 }
 .team img{
     border-radius:30%; 
 }

  .team2 img{
     border-radius: 50%;
 }

 .team1 img{
    border-radius: 50%;
 }

  .team{
      width: 100%;
      margin-left:5%; 
      margin-right:15% 
  }
  p{
      text-align: center;
      font-size: 15px;
  }
  .team5 img{
      height:150px;
      width: 150px;
  }
  .team img{
      height:150px;
      width: 150px;
  }
