/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/
.video {
  background: #2d405f;
  padding-top: 50px;
  padding-bottom: 50px;
}

.video .section-title h2, .video .section-title p {
  color: #fff;
}

.video .section-title h2::after {
  background: rgba(255, 255, 255, 0.2);
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #3b4ef8;
}

a:hover {
  color: #6c7afa;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Krub", sans-serif;
}

.btn-normal {
  font-size: 16px;
  display: inline-block;
  padding: 8px 35px 8px 25px;
  transition: 0.5s;
  margin-left: 10px;
  border-radius: 5px;
  position: relative;
  background: #e2e5fe;
  color: #466393;

}
.btn-normal i {
  color: #949cac;
  font-size: 20px;
  position: absolute;
  right: 7px;
  top: 10px;


}
.btn-normal:hover i {
  color: #3b4ef8;
  cursor: pointer;
}
.alert-primary {
  border-color: #EFF0F1;
  background: #EFF0F1;
}
code {
  color: black;
  font-family: monospace;
}

pre.prettyprint {
  padding: 0 !important;
  border: none !important;
  text-align: left;
}

pre {
  margin: 0 !important;
  text-align: left;
}
#button-inside {
  color: #696969;
  font-weight: 600;
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  font-size: 0.8rem;
  color: #696969;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: .25rem;
}

.text {
  position: relative;
}

#copyMe {
  background-color: #EFF0F1;
  border-color: #EFF0F1;
  resize: none;
  padding: 2rem;
}

.format1 {
  padding-top: 2.5rem;
}

@media screen and (max-width: 800px) {
  .formatm {
    padding-top: 2.5rem;
  }
}

#button-inside:hover {
  font-weight: bolder;
  color: white;
  background-color: #2980b9;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #466393;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #0a22f6;
  color: #fff;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #466393;
  border-top-color: #e2e5fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #f6f7ff;
  border-bottom: 2px solid #eceefe;
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
}

#header .logo img {
  max-height: 35px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul {
  display: flex;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #2d405f;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Krub", sans-serif;
  font-weight: 600;
}

.nav-menu a:hover, .nav-menu .active>a, .nav-menu li:hover>a {
  color: #3b4ef8;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #2d405f;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active>a, .nav-menu .drop-down ul li:hover>a {
  color: #3b4ef8;
}

.nav-menu .drop-down>a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down>a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover>ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down>a:after {
    content: "\f105";
  }
}

/* Get Started Button */
.get-started-btn {
  margin-left: 25px;
  background: #e2e5fe;
  color: #466393;
  border-radius: 5px;
  padding: 8px 25px 10px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  font-family: "Krub", sans-serif;
  letter-spacing: 0.5px;
}

.get-started-btn:hover {
  background: #3b4ef8;
  color: #fff;
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 18px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #2d405f;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #2d405f;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active>a, .mobile-nav li:hover>a {
  color: #3b4ef8;
  text-decoration: none;
}

.mobile-nav .drop-down>a:after {
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down>a:after {
  content: "\f107";
}

.mobile-nav .drop-down>a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(29, 41, 60, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: auto;
  background: #fff;
  padding-top: 82px;
  padding-bottom: 30px;
}

#hero h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #466393;
}

#hero h2 {
  color: #466393;
  font-size: 25px;
  font-weight: 600;
}
#hero h3 {
  color: #858ea1;
  margin: 0 0 30px 0;
  font-size: 19px;
}
#hide-hero {
  color: #858ea1;
  margin: 10px 0 5px 0;
  font-size: 19px;
}

#hero .btn-get-started {
  font-family: "Krub", sans-serif;
  font-weight: 500;
  font-size: 16px;

  display: inline-block;
  padding: 4px 15px 5px 15px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: #466393;
  margin-right: 20px;
}
#hero .logo img {
  max-height: 70px;
}

#hero .btn-get-started:hover {
  background: #206bfb;
  box-shadow: 0 8px 28px rgba(32, 107, 251, 0.45);
}


#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (max-width: 1024px) {
  #hero .btn-get-started {

  }

}

@media (max-width: 991px) {
  #hero .btn-get-started {

  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 768px) {


  #hero .btn-get-started {
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    transition: 0.5s;
    color: #fff;
    background: #466393;
    margin-right: 20px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  #hero h3 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 575px) {
  #hero .btn-get-started {
    font-size: 16px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}
@media (max-width: 420px) {

  #hero h3 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  #hero .hero-img img {
    width: 60%;
  }
}
@media (max-width: 320px) {

  /* #hero {
    height: 120vh;
  } */
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# timer Section
--------------------------------------------------------------*/
#timer {
  background: #466393;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  color: #fff;
  s
}

#timer .countdown div {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 10px 10px;
  width: 100px;
  padding: 15px 0;
}

#timer .countdown div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
}

#timer .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 575px) {
  #timer .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }

  #timer .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  #timer .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f8fb;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2d405f;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #aabbd7;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Subscribe Section
--------------------------------------------------------------*/
#subscribe .newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#subscribe .newsletter form input[type="submit"] {

  background: #466393;
  border-color: #466393;
  color: #fff;
  border-radius: 5px;
  padding: 8px 25px 10px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
  font-family: "Krub", sans-serif;
  letter-spacing: 0.5px;
}

#subscribe .newsletter form input[type="submit"]:hover{
  background: #3b4ef8;
  color: #fff;
}



#subscribe .social-links {
  margin-top: 30px;
}

#subscribe .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #eaecef;
  color: #5f687b;
  line-height: 1;
  padding: 10px 0;
  margin-right: 6px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#subscribe .social-links a:hover {
  background: #466393;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Processor Section
--------------------------------------------------------------*/
.processor {
  background: #eaecef;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  color:#466393;
}

.processor .content {
  padding: 30px 30px 30px 0;
}

.processor .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #466393;
  margin-bottom: 30px;
}

.processor .content p {
  margin-bottom: 30px;
  font-weight: 600;
}
.processor .content ul li {
  margin-bottom: 30px;
  font-weight: 600;
}

.processor .content .processor-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.05);
  padding: 6px 30px 8px 30px;
  color: #466393;
  border-radius: 50px;
  transition: 0.3s;
}

.processor .content .processor-btn i {
  font-size: 14px;
}

.processor .content .processor-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.processor .icon-boxes .icon-box {
  margin-top: 30px;
}

.processor .icon-boxes .icon-box i {
  font-size: 40px;
  color: #b6bdfc;
  margin-bottom: 10px;
}

.processor .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.processor .icon-boxes .icon-box p {
  font-size: 15px;
}

@media (max-width: 1200px) {
  .processor .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .processor {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Ecosystem Section
--------------------------------------------------------------*/
.ecosystem {
  background: #466393;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  color: #fff;
}

.ecosystem .content {
  padding: 30px 30px 30px 0;
}

.ecosystem .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #fff;
  margin-bottom: 30px;
}

.ecosystem .content p {
  margin-bottom: 30px;
}

.ecosystem .content .ecosystem-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.05);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
}

.ecosystem .content .ecosystem-btn i {
  font-size: 14px;
}

.ecosystem .content .ecosystem-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.ecosystem .icon-boxes .icon-box {
  margin-top: 30px;
}

.ecosystem .icon-boxes .icon-box i {
  font-size: 40px;
  color: #b6bdfc;
  margin-bottom: 10px;
}

.ecosystem .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.ecosystem .icon-boxes .icon-box p {
  font-size: 15px;
}

@media (max-width: 1200px) {
  .ecosystem .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .ecosystem {
    text-align: center;
  }
}



/*--------------------------------------------------------------
# Sample Application Section
--------------------------------------------------------------*/
.sample {
  background: #466393;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  color:#fff;
}

.sample .content {
  padding: 30px 30px 30px 0;
}

.sample .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #fff;
  margin-bottom: 30px;
}

.sample .content p {
  margin-bottom: 30px;
  font-weight: 600;
}


.sample .content .sample-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.05);
  padding: 6px 30px 8px 30px;
  color: #466393;
  border-radius: 50px;
  transition: 0.3s;
}

.sample .content .sample-btn i {
  font-size: 14px;
}

.sample .content .sample-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}




@media (max-width: 1200px) {
  .sample .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .sample {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Shakti SoC Section
--------------------------------------------------------------*/
.shakti-soc .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.shakti-soc .box h3 {
  font-weight: 400;
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #2d405f;
}

.shakti-soc .box h4 {
  font-size: 42px;
  color: #466393;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.shakti-soc .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.shakti-soc .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.shakti-soc .box ul {
  padding: 0;
  list-style: none;
  color: #2d405f;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.shakti-soc .box ul li {
  padding-bottom: 16px;
}

.shakti-soc .box ul i {
  color: #466393;
  font-size: 18px;
  padding-right: 4px;
}

.shakti-soc .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.shakti-soc .box .btn-wrap {
  padding: 15px;
  text-align: center;
}

.shakti-soc .box .btn-buy {
  background: #eceefe;
  color: #3b4ef8;
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 5px;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Krub", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.shakti-soc .box .btn-buy:hover {
  background: #3b4ef8;
  color: #fff;
}

/*--------------------------------------------------------------
# Steps Section
--------------------------------------------------------------*/
.steps .content+.content {
  margin-top: 100px;
}

.steps .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.steps .content ul {
  list-style: none;
  padding: 10px;
}

.steps .content ul li {
  padding-bottom: 10px;
}

.steps .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #3b4ef8;
}

.steps .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# documents Section
--------------------------------------------------------------*/
.documents {
  background: #eaecef;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  color:#466393;
}

.documents .content {
  padding: 30px 30px 30px 0;
}

.documents .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #466393;
  margin-bottom: 30px;
}

.documents .content p {
  margin-bottom: 30px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .documents .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .documents {
    text-align: left;
  }
}
/*--------------------------------------------------------------
# Stuck Somewhere Section
--------------------------------------------------------------*/
.stuck-somewhere {
  background: #466393;
  padding-bottom: 80px;
}

.stuck-somewhere .section-title h2, .stuck-somewhere .section-title p {
  color: #fff;
}

.stuck-somewhere .section-title h2::after {
  background: rgba(255, 255, 255, 0.2);
}

.stuck-somewhere .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  transition: all 0.3s;
  border-radius: 5px;
  text-align: center;
}

.stuck-somewhere .icon-box:hover {
  transform: scale(1.08);
}

.stuck-somewhere .icon {
  margin-bottom: 15px;
}

.stuck-somewhere .icon i {
  font-size: 32px;
  line-height: 1;
  color: #466393;
  background: #eff2f8;
  padding: 20px;
  border-radius: 50px;
  transition: all 0.3s;
}

.stuck-somewhere .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.stuck-somewhere .title a {
  color: #466393;
  transition: 0.3s;
}

.stuck-somewhere .title a:hover {
  color: #4e6fa4;
}

.stuck-somewhere .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding: 60px 0;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  padding: 0 0 20px 25px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #3b4ef8;
  font-size: 18px;
  font-weight: 500;
}

.faq .faq-list i {
  font-size: 18px;
  position: absolute;
  left: -25px;
  top: 6px;
}

.faq .faq-list p {
  margin-bottom: 20px;
  font-size: 15px;
}

.faq .faq-list a.collapse {
  color: #3b4ef8;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #3b4ef8;
}

.faq .faq-list a.collapsed i::before {
  content: "\f107" !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #f1f3ff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #EFF0F1;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #2d405f;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Krub", sans-serif;
  color: #4e6fa4;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #2d405f;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #6c7afa;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #466393;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e7eafe;
  color: #466393;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #466393;
  color: #fff;
  text-decoration: none;
}
