.first-part {
  margin-top: 5%;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

.second-part {
  text-align: center;
  margin-top: 5%;
}

.vid-item {
  margin: 0 1% 0 1%;
}

.desc {
  font-weight: bold;
  color: #005082;
  text-align: center;
  font-size: 18px;
}

.vid-item img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
  cursor: pointer;
}
